<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.qlks3lopConnectionString" connectionString="Data Source=.;Initial Catalog=qlks3lop;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
